body {
    height: 1500px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
    max-height: 100px;
}

body::-webkit-scrollbar-thumb {
    background-color: slategray;
}

body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

header {
    border: 1px solid black;
    width: 100%;
/*    background-color: dodgerblue;*/
}

h1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.intro {
    text-align: center;
}

.column {
    
}

.column img {
    height: 45%;
    width: 45%;
}